################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
*.v2
*.vsidx
*.bin
*.dll
*.pdb
/QST.MicroERP.Tests/obj
/QST.MicroERP.Tests/bin
/QST.MicroERP.WebAPI/obj
/QST.MicroERP.WebAPI/bin
/QST.MicroERP.Core/obj
/QST.MicroERP.Core/bin
/QST.MicroERP.DAL/obj
/QST.MicroERP.DAL/bin
/QST.MicroERP.Service/obj
/QST.MicroERP.Service/bin
/QST.MicroERP.Scheduling/bin
/QST.MicroERP.Scheduling/obj
/.vs/MicroERP/v17/.suo
/MicroERP.Tests/obj
/MicroERP.Tests/bin
/MicroERP.WebAPI/obj
/MicroERP.WebAPI/bin
/MicroERP.Core/obj
/MicroERP.Core/bin
/MicroERP.DAL/obj
/MicroERP.DAL/bin
/MicroERP.Service/obj
/MicroERP.Service/bin
/MicroERP.Scheduling/bin
/MicroERP.Scheduling/obj
/.vs/MicroERP/v17/.suo
/_Published
/QST.MicroERP.Tests/bin
/QST.MicroERP.Tests/obj
/QST.MicroERP.WebAPI/obj
/QST.MicroERP.WebAPI/bin
/QST.MicroERP.Core/obj
/QST.MicroERP.Core/bin
/QST.MicroERP.DAL/obj
/QST.MicroERP.DAL/bin
/QST.MicroERP.Service/obj
/QST.MicroERP.Service/bin
/QST.MicroERP.Scheduling/bin
/QST.MicroERP.Scheduling/obj
/QST.MicroERP.WebAPI/obj/Debug/net6.0/QST.MicroERP.WebAPI.assets.cache
/QST.MicroERP.WebAPI/obj/Debug/net6.0/QST.MicroERP.WebAPI.csproj.AssemblyReference.cache
/QST.MicroERP.WebAPI/obj/Debug/net6.0/QST.MicroERP.WebAPI.csproj.CoreCompileInputs.cache
/QST.MicroERP.WebAPI/obj/Debug/net6.0/QST.MicroERP.WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/QST.MicroERP.WebAPI/obj/Debug/net6.0/QST.MicroERP.WebAPI.genruntimeconfig.cache
/QST.MicroERP.WebAPI/obj/Debug/net6.0/staticwebassets.build.json
/QST.MicroERP.WebAPI/obj/Debug/net6.0/QST.MicroERP.WebAPI.csproj.FileListAbsolute.txt
/QST.MicroERP.WebAPI/obj/project.assets.json
/QST.MicroERP.WebAPI/obj/project.nuget.cache
/QST.MicroERP.WebAPI/obj/QST.MicroERP.WebAPI.csproj.nuget.dgspec.json
/QST.MicroERP.WebAPI/Properties/PublishProfiles/FolderProfile4.pubxml
/QST.MicroERP.WebAPI/Properties/PublishProfiles/FolderProfile4.pubxml.user
/QST.MicroERP.Tests/obj/project.assets.json
/QST.MicroERP.Tests/obj/project.nuget.cache
/QST.MicroERP.Tests/obj/QST.MicroERP.Tests.csproj.nuget.dgspec.json
