################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
*.v2
*.vsidx
*.bin
*.dll
*.pdb
/QST.MicroERP.Tests/obj
/QST.MicroERP.Tests/bin
/QST.MicroERP.WebAPI/obj
/QST.MicroERP.WebAPI/bin
/QST.MicroERP.Core/obj
/QST.MicroERP.Core/bin
/QST.MicroERP.DAL/obj
/QST.MicroERP.DAL/bin
/QST.MicroERP.Service/obj
/QST.MicroERP.Service/bin
/QST.MicroERP.Scheduling/bin
/QST.MicroERP.Scheduling/obj
/.vs/MicroERP/v17/.suo
/MicroERP.Tests/obj
/MicroERP.Tests/bin
/MicroERP.WebAPI/obj
/MicroERP.WebAPI/bin
/MicroERP.Core/obj
/MicroERP.Core/bin
/MicroERP.DAL/obj
/MicroERP.DAL/bin
/MicroERP.Service/obj
/MicroERP.Service/bin
/MicroERP.Scheduling/bin
/MicroERP.Scheduling/obj
/.vs/MicroERP/v17/.suo
