<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="csPQS" connectionString="Data Source=(local);Initial Catalog=Test;User Id=sa;Password=dbsa; Persist Security Info=False;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />-->
    <add name="csPQS" connectionString="Data Source=SSASOFT-BADAR\SQL2012;Initial Catalog=Test;Integrated Security=true; Persist Security Info=False;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>