<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%">
            <div *ngIf="Add">Manage AttributeValues
            </div>
            <div *ngIf="Edit">Edit AttributeValues
            </div>
            <div fxFlex="7%" *ngIf="isDialog">
                <button mat-icon-button fxLayoutAlign="end end" (click)="dialogref.close()" style="color: white">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form #userForm="ngForm" novalidate cForm>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline">
                    <mat-label> Select Attribute</mat-label>
                    <mat-select name="parentId" matNativeControl #parentId="ngModel" required
                        [(ngModel)]="selectedAttributeValues.parentId">
                        <mat-option [value]="0" (click)="ngOnInit()">--Please Select--</mat-option>
                        <mat-option *ngFor="let pt of attributes" [value]=" pt.id" (click)="SearchbyAtt(pt.id)">
                            {{ pt.name}}
                        </mat-option>
                    </mat-select>
                    <div matSuffix>
                        <button mat-icon-button style="color:#940540 ; "
                            (click)="AttributeDialog(); $event.stopPropagation()" cTooltip="Manage Attributes ">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>Name</mat-label>
                    <input matInput required #name="ngModel" name="name" [(ngModel)]="selectedAttributeValues.name" />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>KeyCode</mat-label>
                    <input matInput required #keyCode="ngModel" name="keyCode"
                        [(ngModel)]="selectedAttributeValues.keyCode" (input)="TextChangeEvent()" />
                </mat-form-field>
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="1" #description="ngModel" name="description"
                        [(ngModel)]="selectedAttributeValues.description"></textarea>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="end end">
                <mat-checkbox name="isActive" [(ngModel)]="selectedAttributeValues.isActive">
                    IsActive
                </mat-checkbox>
            </div>
            <div fxLayoutAlign="end end">
                <div style="margin-top: 10px;">
                    <button *ngIf="Add" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveAttributeValues();">
                        Save
                    </button>
                    <button *ngIf="Edit" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveAttributeValues()">
                        Update
                    </button>
                </div>
                <div>
                    <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                        (click)="Refresh()">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
            <h5 cCardTitle>AttributeValues List</h5>
            <c-card-body style="padding: 10px;background-color: rgb(2, 42, 75);margin: 5px;border-radius: 10px;">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef> Sr No </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name</th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                            </ng-container>
                            <ng-container matColumnDef="attribute">
                                <th mat-header-cell *matHeaderCellDef> Attribute </th>
                                <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef> IsActive </th>
                                <td mat-cell *matCellDef="let element"> {{element.isActive?'Yes':'No'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="keyCode">
                                <th mat-header-cell *matHeaderCellDef>KeyCode</th>
                                <td mat-cell *matCellDef="let element"> {{element.keyCode}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions" stickyEnd="true">
                                <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;">
                                    Action
                                </th>
                                <td mat-cell *matCellDef="let row" style="width: 100px;text-align: center;">
                                    <div>
                                        <button mat-icon-button mat-sm-button style="color:#1e293b ; "
                                            cTooltip="Edit AttributeValues" (click)="GetAttributeValuesForEdit(row.id)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <!-- <button mat-icon-button mat-sm-button color="warn"
                                            cTooltip="Delete AttributeValues" (click)="DeleteAttributeValues(row)">
                                            <mat-icon>delete</mat-icon>
                                        </button> -->
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </section>
                </div>
            </c-card-body>
        </c-card>
    </div>
</div>