<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Al-Birr Charity  منظمة البر الخيرية</title>

    <link href="/ngClient/app/styles/bootstrap.css" rel="stylesheet" />
    <link href="/ngClient/app/styles/style.css" rel="stylesheet" />
    <link href="/ngClient/app/styles/font-awesome.css" rel="stylesheet" />
    <link href="/ngClient/app/styles/simple-sidebar.css" rel="stylesheet" />

</head>

<body>
    <div class="mainContainer">
        <div class="col-sm-12">
            <div class="login col-sm-8 col-xs-12" style="padding: 0px;">
                <div class="logo-login col-sm-10 col-xs-12"><img src="~/images/logo.png" alt="" /></div>
                <h4 style="font-size: 18px;color:#003468;text-align: center;">نظام ادخال سندات القبض</h4>
                <div class="col-lg-6 col-sm-12 col-xs-12" style="float:none;margin: auto;">


                    @RenderBody()

                    <p style="margin-top: 10px;float:left;text-align: center;width:100%;font-size: 13px;color:#003468;">
                        &COPY; Copyright 2015 QST Inc. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>