<div class="modal-header">
    <h4 class="modal-title">Manage Bank [Mode:{{model.Mode}}]</h4>
</div>

<div class="modal-body">

    <form name="frmBank" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>code  الكود<em>*</em></label>
                    <input type="text" class="form-control" placeholder=" ادخل رقم الكود" name="bankCode" id="bankCode"
                           ng-model="model.Bank.Code" ng-minlength=3 ng-maxlength=4 autofocus />
                    <span ng-messages="frmBank.bankCode.$touched && frmBank.bankCode.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>نوع التبرع:<em>*</em></label>
                    <input type="text" class="form-control" placeholder="ادخل نوع التبرع" name="bankName" id="bankName"
                           ng-model="model.Bank.EntityName" ng-minlength=3 ng-maxlength=40 />
                    <span ng-messages="frmBank.bankName.$touched && frmBank.bankName.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="frmBank.$invalid">Save  حفظ</button>
                    <button type="reset" class="btn btn-grey" ng-click="cancel()">Reset جديد</button>
                </div>
            </div>
        </div>
    </form>

    <div class="form-wrapper">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Code  الكود</th>
                    <th>Bank   نوع التبرع      </th>
                    <th>Action    نوع العمليه</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mod in model.Banks">
                    <td> {{mod.Code}}</td>
                    <td> {{mod.EntityName}}</td>
                    <td>
                        <button title="Edit" class="glyphicon glyphicon-edit" ng-click="edit(mod)"></button>
                        <button title="Delete" class="glyphicon glyphicon-trash" ng-click="delete(mod)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>