<div class="modal-header">
    <h4 class="modal-title">Manage Expense Group [Mode:{{model.Mode}}]</h4>
</div>

<div class="modal-body">

    <form name="frmExpenseGroup" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Group Code:<em>*</em></label>
                    <input type="text" class="form-control" placeholder="ExpenseGroup Code" name="groupCode" id="groupCode"
                           ng-model="model.ExpenseGroup.GroupCode" ng-minlength=3 ng-maxlength=4 autofocus />
                    <span ng-messages="frmExpenseGroup.groupCode.$touched && frmExpenseGroup.groupCode.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Group Name:<em>*</em></label>
                    <input type="text" class="form-control" placeholder="ExpenseGroup Name" name="groupName" id="groupName"
                           ng-model="model.ExpenseGroup.GroupName" ng-minlength=3 ng-maxlength=40 />
                    <span ng-messages="frmExpenseGroup.groupName.$touched && frmExpenseGroup.groupName.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="frmExpenseGroup.$invalid">Save</button>
                    <button type="reset" class="btn btn-grey" ng-click="cancel()">Reset</button>
                </div>
            </div>
        </div>
    </form>

    <div class="form-wrapper">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Group Code</th>
                    <th>Group Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mod in model.ExpenseGroups">
                    <td> {{mod.GroupCode}}</td>
                    <td> {{mod.GroupName}}</td>
                    <td>
                        <button title="Edit" class="glyphicon glyphicon-edit" ng-click="edit(mod)"></button>
                        <button title="Delete" class="glyphicon glyphicon-trash" ng-click="delete(mod)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>