<div class="modal-header">
    <h4 class="modal-title">Manage Gift Type [Mode:{{model.Mode}}]</h4>
</div>

<div class="modal-body">

    <form name="frmGiftType" novalidate>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>code  الكود<em>*</em></label>
                    <input type="text" class="form-control" placeholder=" ادخل رقم الكود" name="giftTypeCode" id="giftTypeCode"
                           ng-model="model.GiftType.Code" ng-minlength=3 ng-maxlength=4 autofocus />
                    <span ng-messages="frmGiftType.giftTypeCode.$touched && frmGiftType.giftTypeCode.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>نوع التبرع:<em>*</em></label>
                    <input type="text" class="form-control" placeholder="ادخل نوع التبرع" name="giftType" id="giftType"
                           ng-model="model.GiftType.EntityName" ng-minlength=3 ng-maxlength=40 />
                    <span ng-messages="frmGiftType.giftType.$touched && frmGiftType.giftType.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>مشروط ام غير مشروط<em>*</em></label>
                    <input type="checkbox" class="form-control" placeholder="Is Condition?" name="isCondition" id="isCondition"
                           ng-model="model.GiftType.IsCondition" />
                    <span ng-messages="frmGiftType.IsCondition.$touched && frmGiftType.IsCondition.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>السعر<em>*</em></label>
                    <input type="number" class="form-control" placeholder="ادخل السعر" name="price" id="price"
                           ng-model="model.GiftType.Price" />
                    <span ng-messages="frmGiftType.price.$touched && frmGiftType.price.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="frmGiftType.$invalid">Save  حفظ</button>
                    <button type="reset" class="btn btn-grey" ng-click="cancel()">Reset جديد</button>
                </div>
            </div>
        </div>
    </form>

    <div class="form-wrapper">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Code  الكود</th>
                    <th>Gift Type  نوع التبرع      </th>
                    <th>Condition   نوع الشرط</th>
                    <th>Price     السعر</th>
                    <th>Action    نوع العمليه</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mod in model.GiftTypes">
                    <td> {{mod.Code}}</td>
                    <td> {{mod.EntityName}}</td>
                    <td> {{mod.IsCondition}}</td>
                    <td> {{mod.Price}}</td>
                    <td>
                        <button title="Edit" class="glyphicon glyphicon-edit" ng-click="edit(mod)"></button>
                        <button title="Delete" class="glyphicon glyphicon-trash" ng-click="delete(mod)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>