<div class="messages">
    <span ng-message="required" class="error">Required field</span>
    <span ng-message="minlength" class="error">Too short</span>
    <span ng-message="maxlength" class="error">Too long</span>
    <span ng-message="email" class="error">Invalid email address</span>
    <span ng-message="isunique" class="error">Email already exists</span>
    <span ng-message="nxEqualEx" class="error">Password does not match</span>
    <span ng-message="pattern" class="error">Invalid Pattern</span>
</div>