<!--<style>
    ul > li {
        list-style: none;
    }
</style>-->
    



<div class="modal-header">
    <h4 class="modal-title">Receipt Voucher [Mode:{{model.Mode}}]   سند القبض</h4>
</div>

<div class="modal-body">

    <form name="frmVoucher" novalidate>
        <div class="row">

            <div class="col-sm-3">
                <div class="form-group">
                    <label>Voucher Date: التاريخ<em>*</em></label>
                    <input type="date" class="form-control" placeholder="Voucher Date" name="vchDate" id="vchDate"
                           ng-model="model.Voucher.VchDate"  autofocus />
                    <span ng-messages="frmVoucher.vchDate.$touched && frmVoucher.vchDate.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Voucher No: رقم السند<em>*</em></label>
                    <input type="text" class="form-control" placeholder="Voucher No" name="vchNo" id="vchNo"
                           ng-model="model.Voucher.VchNo" ng-minlength=1 ng-maxlength=20 />
                    <span ng-messages="frmVoucher.vchNo.$touched && frmVoucher.vchNo.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Gift Type No: رقم السند<em>*</em></label>
                    <input type="text" class="form-control" placeholder="Gift Type Voucher No" name="giftTypeNo" id="giftTypeNo"
                           ng-model="model.GiftTypeNo" ng-minlength=1 ng-maxlength=20 ng-blur="onGiftTypeBlur(model.GiftTypeNo)" />
                    <span ng-messages="frmVoucher.vchNo.$touched && frmVoucher.vchNo.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
                

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Gift Type: نوع التبرع<em>*</em></label>
                    <select id="giftType" name="giftType" ng-model="model.Voucher.Code" class="form-control" >
                        <option ng-repeat="mod in model.GiftTypes" value="{{mod.Code}}">{{mod.EntityName}}</option>
                    </select>
                    <span ng-messages="frmArea.giftType.$touched && frmArea.giftType.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                    
                    <!--
                    <h4>Asynchronous results</h4>
                    <pre>Model: {{asyncSelected | json}}</pre>
                    <input type="text" ng-model="selected" placeholder="Locations loaded via $http" uib-typeahead="mod for mod.EntityName in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                    <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http"
                           uib-typeahead="mod as mod.EntityName for mod in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">-->
                    <!--<input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http"
                           uib-typeahead="mod for mod in getLocation($viewValue)" class="form-control">-->

                    <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>-->

                    <!--<div class="main">
                        <h2>Search for new released movies:</h2>
                        <autocomplete ng-model="result" attr-placeholder="type to search movies..." click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse"></autocomplete>
                        <autocomplete ng-model="yourchoice" data="movies" on-type="updateMovies"></autocomplete>
                        <autocomplete ng-model="model.Voucher.VchNo1" selected data="model.Names" on-type="updateMovies"></autocomplete>

                        <br>
                        
                    </div>
                    <h4>Static arrays</h4>
                    <pre>Model: {{selected | json}}</pre>
                    <input type="text" ng-model="selected" uib-typeahead="state for state in states" class="form-control">-->

                    

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Received From: من<em>*</em></label>
                    <select id="receivedFrom" name="receivedFrom" ng-model="model.Voucher.ReceivedFrom" class="form-control" ng-change="receivedFromChangedValue()">
                        <option ng-repeat="mod in model.Donors" value="{{mod.ID}}">{{mod.EntityName}}</option>
                    </select>
                    <span ng-messages="frmVoucher.receivedFrom.$touched && frmVoucher.receivedFrom.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Phone No: رقم الهاتف<em>*</em></label>
                    <input type="text" class="form-control" placeholder="Phone No" name="phoneNo" id="phoneNo"
                           ng-model="model.Voucher.ReceivedFromPhone" ng-minlength=3 ng-maxlength=20 />
                    <span ng-messages="frmVoucher.phoneNo.$touched && frmVoucher.phone.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Amount: مبلغا وقدره<em>*</em></label>
                    <input type="number" class="form-control" placeholder="Amount" name="vchAmount" id="vchAmount"
                           ng-model="model.Voucher.VchAmount" />
                    <span ng-messages="frmVoucher.vchAmount.$touched && frmVoucher.vchAmount.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Paymend Mode:طريقة الدفع<em>*</em></label>
                    <select id="paymentMode" name="paymentMode" ng-model="model.Voucher.PaymentMode" class="form-control">
                        <option value="R">Cash كاش</option>
                        <option value="P">Card شبكه</option>
                        <option value="O">Cheque شيك</option>
                    </select>
                    <span ng-messages="frmVoucher.paymentMode.$touched && frmVoucher.paymentMode.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>No:    بالرقم<em>*</em></label>
                    <input type="number" class="form-control" placeholder="إدخل الرقم" name="number" id="number" ng-model="model.Voucher.ChequeNo" />
                    <span ng-messages="frmVoucher.number.$touched && frmVoucher.number.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Bank: على بنك<em>*</em></label>
                    <select id="bank" name="bank" ng-model="model.Voucher.BankId" class="form-control">
                        <option value="1">Riyadh Bank بنك الرياض</option>
                        <option value="2">Al-Rajhi Bank بنك الراجحي</option>
                        <option value="3">Saudi Franci Bank البنك السعودي الفرنسي</option>
                    </select>
                    <span ng-messages="frmVoucher.bank.$touched && frmVoucher.bank.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Cheque Date:<em>*</em></label>
                    <input type="date" class="form-control" placeholder="Cheque Date" name="chequeDate" id="chequeDate"
                           ng-model="model.Voucher.ChequeDate" autofocus />
                    <span ng-messages="frmVoucher.chequeDate.$touched && frmVoucher.chequeDate.$error" ng-messages-include="ngClient/app/views/Messages.html"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="frmVoucher.$invalid">Save  حفظ</button>
                    <button type="reset" class="btn btn-grey" ng-click="cancel()">Reset جديد </button>
                </div>
            </div>
        </div>
    </form>

    <div class="form-wrapper">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Voucher No رقم السند</th>
                    <th>Voucher Date التاريخ</th>
                    <th>Amout القيمه</th>
                    <th>Actions العمليه</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mod in model.Vouchers">
                    <td> {{mod.VchNo}}</td>
                    <td> {{mod.VchDate}}</td>
                    <td> {{mod.VchAmount}}</td>
                    <td>
                        <button title="Edit" class="glyphicon glyphicon-edit" ng-click="edit(mod)"></button>
                        <button title="Delete" class="glyphicon glyphicon-trash" ng-click="delete(mod)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>