.page {
    color: white;
    background: #f1f5f9;

}

.page_content {
    padding: 20px;
    border-radius: 15px;
    margin-top: -2rem;
    background: white;
    color: black;
}

.page_box {
    min-height: 100px;
    background-image: linear-gradient(to bottom, rgb(2, 33, 58), rgb(7, 95, 122));

    border-radius: 10px;
    font-size: 25px;
    padding: 10px;

}

.example-container {
    width: 100;
    max-width: 100%;
    overflow: auto;
}