/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
     Created on : Aug 11, 2015, 3:20:37 PM
    Author     : Mujahid
*/
/*@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}*/
* {
    margin:0px;
    padding:0px;
}
html,body {
    height: 100%;
    font-family:Arial;
    color:#666666;
    background:#f6f5f6;
}
img, a {
    border:none;
}
.mainContainer {
    width:100%;
    overflow: hidden;
    float: left;
    /*    padding:20px;*/
    min-height: 100%;
}
.wrapper {
    width:90%;
    margin: auto;
}
.max-width {width:100%;}
.img-responsive {width:100%;}
.top {
    padding:10px 12px 10px 20px;
}
.topdate {
    color:white;  
    font-size: 14px;
    line-height: 18.2px;
    background:#7abd7b; 
    float:right;
    padding: 10px 5px;
    margin-top: 15px;
}
.top-main-heading {
    font-size: 24px;
    color:#003468;
    margin-top: 20px;
    padding-left: 0px;
}
.body-wrapper {
    overflow: hidden;
    clear:both;
    margin-bottom: 65px;

}
.sidebar {
    padding:0px; 
}

.side-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
    width:100%;
}
.side-menu li {
    list-style: none;
    width:100%;
    background-color:#003468;
    overflow: hidden;
}
.side-menu li a {
    font-size: 14px;
    background-color:#003468;
    padding:7px 13px;
    width:100%;
    float:left;
    text-decoration: none;
    border-bottom: 2px solid white;
    color:white;
}
.side-menu li a:hover {
    background-color:#eda802;
    color:white;
}
.side-menu li a.active {
    background:#eda802 !important;
    color:white !important;
}
.side-menu li a i {
    font-size: 18px;
    padding-right: 5px;
}
.rightcontent {
    padding:10px;
    background:white;
    float:left;
    width:100%;
}
.heading {
    color:#003468;
    font-size:18px;
    padding:8px 18px;
    margin: 0px;
    background: #e3e3e3;
    width:100%;
}
.rightcontent {
    height:100%;
}
.error {
    color:#ff0000;
    font-size: 14px;
    line-height: 18.33px;
    width:100%;
    float: left;
}
.success {
    color:#53af54;
    font-size: 14px;
    line-height: 18.33px;
    width:100%;
    float: left;
    padding-left: 0px;
}
.btn-blue,.btn-yellow {
    font-size:12.86px; 
    color:white;
    padding:7px 20px;
    background:#003468; 
    font-weight:bold;
    border-radius:0px;
    margin-top: 10px;
}
.btn-blue:hover, .btn-yellow:hover {
    background:#fdb813; 
    color:white;
}
.createProject {
    margin-top: 10px;
    float: left;
    width:100%;
}





.footer {
    background:#003468; 
    color:white;
    font-size: 13px;
    text-align: center;
    padding:12px 0px;
    position: fixed;
    bottom:0;
    float:left;
    width:100%;

}
@media (min-width:768px) {
    .topdate {
        font-size: 13px !important;
    } 
}
@media all and (max-width: 640px) {
    .sidebar {
        margin-left: 10px;
    }
    .top-main-heading {
        padding-left: 0px !important;
        margin: 0px !important;
        text-align: center;
    }
    .topdate {
        float:none !important;
        text-align: center !important;
        margin: auto !important;
        width: auto !important;
    }
    .logo {
        text-align: center;
        width: 100%;
    }
}
@media all and (max-width: 480px) {
    .sidebar {
        margin-left: 10px;
    }
    .top-main-heading {
        padding-left: 0px !important;
        margin: 0px !important;
        text-align: center;
    }
    .topdate {
        float:none !important;
        text-align: center !important;
        margin: auto !important;
        width: auto !important;
    }
    .logo {
        text-align: center;
        width: 100%;
    }
}
@media all and (max-width: 360px) {
    .sidebar {
        margin-left: 10px;
    }
    .top-main-heading {
        padding-left: 0px !important;
        margin: 0px !important;
        text-align: center;
    }
    .topdate {
        float:none !important;
        text-align: center !important;
        margin: auto !important;
        width: auto !important;
    }
    .logo {
        text-align: center;
        width: 100%;
    }
}
.fileUpload {
    border-radius: 0;
    float: left;
    margin: 0 3px;
    overflow: hidden;
    padding: 3px 10px;
    position: relative;
    background-color:#003468;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    color:#666666;
    filter: alpha(opacity=0);
    border: none;
    background:transparent;
}
#uploadFile {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    cursor: default;
    width: 79%;
    padding-top:3px;
    position: absolute;
    left: 115px;
}
/*..............................*/
.login {
    float: none;
    margin: auto;
}
.logo-login {
    float: none;
    margin: auto;
    padding-top: 5%;
    text-align: center;
}
.login-Box {
    background: white none repeat scroll 0 0;
    border: 1px solid #cccccc;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.signin {
    background: white;
    color: white;
    padding: 30px;
    border: 1px solid #cccccc;
}
.signin .form-group .glyphicon {
    color: #083a6d;
    font-size: 20px;
}
.signin .btn-blue {
    font-size: 15px;
}
.signin .form-control {
    font-size: 14px;
    color:#999999;
    height: 37px;
    border: 1px solid #999999;
}
.signin .form-group {margin-bottom: 15px;}